{%extends "base.html"%}

{%block css%}
<link rel="stylesheet" href="static/css/service_search.css">
{%endblock%}

{%block title%}
Search Service
{%endblock%}

{%block content%}
{%include 'components/head.html'%}
<section id="search" class="services-section section light-background">
    <div class="container">
        {%include 'components/filter.html'%}
        <div id="serviceListContainer">
            {%include 'components/service_list.html'%}
        </div>
    </div>
</section>
{%endblock%}

{% block scripts%}
<script src="static/js/search_animation.js"></script>
<script src="static/js/service_search.js"></script>
{% endblock %}