{% set final_id = input_id | default(None) %}
{% if not final_id and request is defined %}
    {% set final_id = request.args.get('input_id') %}
{% endif %}
{% if request is defined and request.args.get('is_master') == 'true' %}
    {% set is_combo_master = True %}
{%endif%}

<div class="dropdown custom-select-wrapper"
     style="width: {{ width | default('200px') }};">

    <input type="hidden"
           {% if final_id %}id="{{ final_id }}"{% endif %}
           {% if name is defined and name %}name="{{ name }}"{% endif %}
           class="{{ input_class | default('') }}"
           value="{{ initial_value | default('') }}">

    <button class="btn {{ btn_class | default('btn-outline-secondary') }} w-100 d-flex justify-content-between align-items-center dropdown-toggle custom-dropdown-btn custom-select-btn custom-time-btn
            {{ 'disabled' if is_disabled | default(False) }}
            {{ 'd-none' if is_hidden | default(False) }}"
            type="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
            style="{{ custom_style | default('') }}">
        <span class="text-limit">{{ initial_label | default('-- Select --') }}</span>
    </button>

    <ul class="dropdown-menu dropdown-menu-end w-100 animate slideIn {{ dropdown_menu_class | default('') }}">

        {% if is_combo_master | default(False) %}
            <li><a class="dropdown-item text-limit" href="#" data-value="split" data-type="combo_action">Split</a></li>
        {% endif %}

        {%if staffs%}
            {% if is_combo_master | default(False) %}
                <li><hr class="dropdown-divider"></li>
            {% endif %}

            {% for staff in staffs %}
                <li>
                    <a class="dropdown-item text-limit {{ 'active' if staff.id|string == initial_value|default('')|string }}"
                       href="#"
                       data-value="{{ staff.id }}">
                       {{ staff.fullname }}
                    </a>
                </li>
            {% endfor %}
        {%endif%}
    </ul>
</div>