<div class="section-card disabled" id="step-2">
    <div class="section-header">
        <div class="step-num">2</div>
        <h5 class="step-title">Staff Allocation</h5>
    </div>

    <div id="staffContainer">
        {% for s in services %}

        {% if s.type.value == "combo" %}
        <div class="combo-box" data-id="{{s.id}}" data-price="{{s.price}}">
            <div class="combo-header d-flex align-items-center justify-content-between">
                <div class="d-flex align-items-center">
                    <span class="combo-tag">Combo</span>
                    <span class="fw-bold text-dark">{{s.name}}</span>
                </div>

                {% with input_id='staff-select-combo-'~s.id, initial_label='Optional', width='140px', btn_class='btn-outline-primary', is_combo_master=True, custom_style='height: 40px; border-color: var(--border-color);', staffs=staff_appointment %}
                    {% include 'components/staff_dropdown.html' %}
                {% endwith %}
            </div>

            {% for child in s.included_services %}
            <div>
                <div class="service-row service-item" data-id="{{child.id}}" data-duration="{{child.duration_minutes}}"
                     data-price="{{child.price}}">
                    <div class="d-flex align-items-center">
                        <img src="{{child.img_url}}" alt="{{s.name}}" class="service-img"
                             onerror="this.onerror=null; this.src='https://placehold.co/600x400?text=Nysa+Spa';">
                        <div>
                            <div class="fw-bold text-dark small text-limit">{{child.name}}</div>
                            <div class="text-muted" style="font-size:11px;">{{child.duration_minutes}} mins</div>
                        </div>
                    </div>

                    {% with input_id='staff-select-'~child.id, input_class='child-select', width='200px',
                    btn_class='btn-secondary', initial_label='Optional', is_disabled=True, is_hidden=True,
                    staffs=staff_appointment %}
                    {% include 'components/staff_dropdown.html' %}
                    {% endwith %}
                </div>
            </div>
            {% endfor %}
        </div>

        {% else %}
        <div class="service-row rounded border mb-3 service-item" data-id="{{s.id}}"
             data-duration="{{s.duration_minutes}}" data-price="{{s.price}}">
            <div class="d-flex align-items-center">
                <img src="{{s.img_url}}" alt="{{s.name}}" class="service-img"
                     onerror="this.onerror=null; this.src='https://placehold.co/600x400?text=Nysa+Spa';">
                <div>
                    <div class="fw-bold text-dark text-limit">{{s.name}}</div>
                    <div class="text-muted small">{{s.duration_minutes}} mins</div>
                </div>
            </div>

            {% with input_id='staff-select-'~s.id, onchange_func="updateAllocation('"~s.id~"')",
            initial_label='Optional', width='200px', staffs=staff_appointment %}
            {% include 'components/staff_dropdown.html' %}
            {% endwith %}
        </div>
        {% endif %}
        {% endfor %}
    </div>
</div>