<div class="input-group mb-3 d-none" id="voucherCodeInput">
    <input type="text" class="form-control" placeholder="Enter Voucher Code" id="inputVoucherCode">
    <button class="btn btn-primary" type="button" onclick="applyVoucherCode()">Apply</button>
</div>
<div class="voucher-scroll">
    {% for v in vouchers %}
    <div class="voucher-item rounded border p-3 mb-2 "
         data-code="{{ v.code }}"
         data-id="{{v.id}}"
         data-type="{{ v.discount_type.value }}"
         data-value="{{ v.discount_value }}"
         data-max-amount="{{ v.max_discount_amount or 0 }}"
         data-min-order="{{ v.min_order_value or 0 }}">

        <div class="d-flex justify-content-between align-items-center">
            <div>
                <div class="fw-bold text-dark">{{ v.name }}</div>

                <div class="small text-muted mb-1">Code: <span class="fw-bold text-primary">{{ v.code }}</span></div>

                <div class="small text-info fw-bold">
                    Discount: {{ "{:,.0f}".format(v.discount_value) }}{{ '%' if v.discount_type.value == 'PERCENT'
                    else ' VND' }}
                </div>

                {% if v.max_discount_amount and v.discount_type.value == 'PERCENT' %}
                <div class="small text-danger">Max Discount: {{ "{:,.0f}".format(v.max_discount_amount) }} VND</div>
                {% endif %}

                <div class="small text-success">Min Order: {{ "{:,.0f}".format(v.min_order_value) }} VND</div>
            </div>

            <button class="btn btn-sm btn-outline-success rounded-pill px-3 apply-voucher-btn"
                    onclick="selectVoucher(this, '{{ v.id }}', '{{ v.code }}')">
                Apply
            </button>
        </div>
    </div>
    {% endfor %}
</div>
<div id="no-voucher-available" class="text-center text-muted py-3 small {% if vouchers and vouchers|length > 0 %}d-none{% endif %}">
    <i class="fas fa-sad-tear mb-2 d-block"></i>
    No valid vouchers found for your selection.
</div>
