<header id="header" class="header d-flex align-items-center sticky-top fixed-top">
    <div class="container position-relative d-flex align-items-center justify-content-between">

        <a href="/" class="logo d-flex align-items-center me-auto me-xl-0">
            <h1 class="sitename">Nysa</h1>
        </a>

        {%include 'components/nav.html'%}

        <div class="header-social-links">
            <div id="google_translate_element" class="me-3"></div>
            {% if not current_user %}
            <a class="btn-login d-none d-xl-block" href="/user/login">Login</a>
            <a href="/user/login" class="user-icon d-block d-xl-none fs-4"><i class="bi bi-person"></i></a>

            {% else %}
            <div class="user-menu" style="margin-left: 10px;">
                <ul>
                    {%if current_role.value=="customer"%}
                    <li>
                        <a href="/cart" class="cart-icon me-3 position-relative text-reset">
                            <i class="bi bi-cart3 fs-4"></i>
                            <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger"
                                  style="font-size: 10px; padding: 3px 6px;">2</span>
                        </a>
                    </li>
                    {%endif%}

                    <li class="dropdown">
                        <a>
                            <span class="d-none d-xl-block"
                                  style="color: var(--nav-color); margin-right: 8px; font-size: 14px;">
                                {{current_user.fullname }}
                            </span>

                            <img src="{{current_user.avatar}}" alt="Avatar" class="rounded-circle"
                                 width="35" height="35" style="object-fit: cover;">

                            <i class="bi bi-chevron-down toggle-dropdown"></i>
                        </a>

                        <ul style="left: auto; right: 0; min-width: 150px;">
                            {%if current_role.value != "admin"%}
                            <li><a href="/user/profile">Profile</a></li>
                            <li><a href="#">Setting</a></li>
                            <li><a href="#">Booking</a></li>
                            {%endif%}

                            {%if current_role.value =="customer"%}
                            <li><a href="#">Card</a></li>
                            {%endif%}
                            <li><a href="/user/logout">Logout</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
            {% endif %}
        </div>

    </div>
</header>